.calculator {
  text-align: center;
  padding: 50px 0;
  padding-bottom: 150px;
}

.calculator h2 {
  margin-bottom: 25px;
}

.calculator input {
  min-width: 40%;
  max-width: 70%;
  display: inline-block;
  margin-bottom: 25px;
}

.calculator-operation {
  margin-bottom: 25px;
}

.calculator-operation button {
  margin: 0 15px;
}